html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

:local(.index) {
  $font-header: 'Metrophobic', sans-serif;
  $font-text: 'Open Sans', sans-serif;
  $saphire-blue: #35759D;
  $turquoise: #3391A7;
  $magenta: #9E3B79;
  $pink: #D93353;
  $ruby: #913539;
  $seaglass: #538078;
  


  @mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1, h2, h3 {
    font-family: $font-header;
  }
  
  main {
    margin: 10px;
  }
  
  section {
    height: 100vh;
    width: auto;
    border-bottom: 2px solid red;
  }

}