:local(.index) {
  $font-header: 'Metrophobic', sans-serif;
  $font-text: 'Open Sans', sans-serif;

  @mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1, h2, h3 {
    font-family: $font-header;
    @include center();
  }

}